html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    /*This is included to allow for auto scrolling when the nav links are selected*/ 
}
* {
    box-sizing: inherit;
}
body {
    background-image: url(images/artwork.png); 
    background-attachment: fixed;
    background-size: cover;
    display:flexbox;
    font-family: 'Noto Serif SC', serif;
    color:whitesmoke;
    /*display:flexbox allows the items to stack and then flex if the size of the window changes*/
}

header {
    text-align: center ;
    display: block;
    color:black;
    position: top;
    background-image: "Assets/images/artwork.png";
}

h1 {
    font-family: 'Big Shoulders Stencil Text', cursive;
    font-size: 124px;
    font-weight: bolder;
    color:whitesmoke;
    background: black;
    text-align: center;
}

nav {
    display: inline-block;
    align-items: center;
    text-align: center;
    flex-direction: column;
    list-style-type: none;
    width: 100%;
    background-color: orange;
    border: 5px solid black;
    border-radius: 10px;
    font-size: x-large;
    margin: 5px;
}

nav li {
    display: inline-flex;
    /*I wanted the nav li to stack when the window was at it's smallest*/
    border-right: black;
    border: 5px black;
    border-radius: 10px;
    padding: 10px;
}
nav a {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;    
    padding: 5px;
    color: #0D6EFD;
}

nav a:hover {
    /*This is how I got the colors to invert when the mouse hovers over the nav options*/
    background-color:black;
    color:orange;
    text-decoration: none;
}

nav a:link { 
    text-decoration: none; 
}

nav a:visited { 
    text-decoration: none; 
}

nav a:active { 
    text-decoration: none; 
}

#About-Me, #Quote-Generator, #Weather-Dashboard, #Password-Generator, #Contact-Me {
    margin:5px;
    background-color:black;
    border-radius: 5px;
}

h2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;    
    padding: 5px;
    color: #0D6EFD;
}
#Hare-Picture {
    width: 375px;
    padding: 2%;
}