* {
    box-sizing: border-box;
    padding: 5px;
    margin: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    color:midnightblue;
    background-color:navajowhite;
}
header {
    font-size: xx-large;
    font-weight: bolder;
    display: block;
}

#Portrait {
    max-height: 50%;
    max-width: 50%;
}
   

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
}

header li {
    display: inline-block;
}

aside {
    font-size: large;
    font-weight: bolder;
    display: inline-block;
}

aside ul {
    list-style-type: none;

}
